@CHARSET "UTF-8";
.main-title .logo{
	height:100px;
	left:30px;
	width:259px;
	position:absolute;
}

.main-title .icon-user-center{
	width:44px;
	right:25px;
	position:absolute;
}

.main-title .icon-history{
	width:44px;
	right:50px;
	position:absolute;
}
.main .rotation-block-block {
	height:430px;
}

.sw-bullet{
	right:40px;
	width:auto;
	bottom:25px;
}
figure {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
figure ul{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.sw-bullet li{
	width:12px;
	height:12px;
	background-color:rgba(255,255,255, 0.5);
}
.sw-bullet li.active{
	width:26px;
	height:12px;
	background-color:rgba(255,255,255, 1);
	box-shadow:none;
	border-radius:6px;
}

.menu{
	height:120px;
	background-color:#FFF;
	padding-left:20px;
	padding-right:20px;
}
.menu .menu-item{
	width:177.5px;
	height:120px;
	text-align:center;
	float:left;
}
.menu .menu-item .menu-icon{
	height:75px;
}
.menu .menu-item .menu-icon img{
	/* vertical-align:middle; */
	padding-top:14px;
	padding-bottom:5px;
}
.menu .menu-item .menu-text{
	height:45px;
	font-size:26px;
	color:#010101;
}

.hot-recommend{
	background-color:#FFF;
	padding-left:10px;
	padding-right:10px;
}
.recommend-title{
	text-align:center;
	padding-top:28px;
	padding-bottom:28px;
}
.recommend-title .recommend-title-left, .recommend-title .recommend-title-right{
	width:146px;
	display:inline-block;
}
.recommend-title .recommend-title-left hr, .recommend-title .recommend-title-right hr{
	height:0px;
	border-top:1px solid #e0e0e0;
	border-right:0px; 
	border-bottom:0px; 
	border-left:0px;
}
.recommend-title .recommend-title-text{
	padding-left:14px;
	padding-right:14px;
	font-size:34px;
	color:#010101;
	display:inline-block;
}

.recommend-item{
	width:204px;
	height: 420px;
	padding-left:19px;
	padding-right:19px;
	text-align:center;
	float:left;
}
.recommend-item .item-img{
	width:204px;
	/*height:272px;*/
	display:inline-block;
}
.recommend-item .item-img img{
	width:204px;
	/*height:272px;*/
	border-radius:5px;
}
.recommend-item .item-name{
	padding-top:6px;
	font-size:30px;
	color:#010101;
}
.recommend-item .item-short-explain{
	padding-top:2px;
	padding-bottom:10px;
	font-size:24px;
	color:#999;
}

.banner-recommend{
	background-color:#FFF;
	padding:20px 30px;
}
.banner-recommend img{
	width:690px;
	border-radius:13px;
}

.sales-volume-recommend{
	background-color:#FFF;
	padding-left:10px;
	padding-right:10px;
}